[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
format = "black src/"
lint = "flake8 src/"
start = 'python src/main.py'

[packages]
click = "*"
colorama = "*"
gitpython = "*"
pyyaml = "*"
pyfiglet = "*"

[dev-packages]
black = "20.8b1"
flake8 = "3.8.4"
auto-py-to-exe = "*"

[pipenv]
allow_prereleases = true

[requires]
python_version = "3.9"
