[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
main = "python src/main.py"
format = "black src/"
lint = "flake8 src/"

[packages]
click = "*"
colorama = "*"
pyinquirer = "*"
gitpython = "*"
toml = "*"
pyfiglet = "*"

[dev-packages]
black = "20.8b1"
flake8 = "3.8.4"

[pipenv]
allow_prereleases = true

[requires]
python_version = "3.9"
